h1 {
    font-style: normal;
    font-weight: bold;
    text-align: center;
  }

  body {
    background-color: rgb(209, 183, 187);
    padding: 3%;
     }
  
  .noções, .inglês, .facilidade, .proatividade {
  font-weight: 530;
    }
    
  

#foto {
  float:left;
  height: 255px;
  padding: 4px;
  margin-right: 25px;
  background-color: black;
}

#image-container{
height: 300px;
}

.eu {
  position:relative;
  top: 10px;
  left: 10px;
  text-align: justify;
  margin-top: 60px;
}

#sobremim, #habilidade, #redesociais, #blog{
  background-color: white;
}

h2 {
  position: relative;
  bottom: 90px;
    text-align: center;
}

h3 #habilidade {
position: initial;
}
