body {
  background-color: rgb(224, 200, 204);
margin-top: 5px;   
  margin-left: 40px;
}

h4 {
text-align: center;
   }


  .centralizar {
          background-color: white;
     margin-top:auto;
     margin-right: 20px;   
  }
 

img {
  border-radius: 60%;
  border: 2px solid;
      top: 40px;
      margin-right: 40px;
      margin-bottom: 40px;
    }

#foto {
  position: relative;
top: 60px;
} 


.espaçamento {
margin-right: 40px;
border: 4px solid black;
color: black;
font-style: normal;
margin: 5px;
text-decoration:none;
}

.espaçamento:hover, .trybe:hover, .linkedin:hover, .github:hover{
  text-align: center;
  color: blue;
  text-decoration: underline;
}

.trybe, .linkedin, .github {
margin-right: 40px;
color: black;
font-style: normal;
margin: 5px;
}

#sobremim {
  position: absolute;
top: 110px;
margin: 0;
} 

.texto {
  position: absolute;
  top: 185px;
  left: 200px;
  margin-left: 50px;
  margin-right:30px;
text-align: justify;
}

#habilidade, #blog, #redesociais {
background-color: black;
color: white;
}

 .centralizar {
position: relative;
 text-align: center;

