h1 {
    font-style: normal;
    font-weight: bold;
    text-align: center;
  }
  body {
    background-color: rgb(209, 183, 187);
    padding: 3%;
   
  }
  
  .noções, .inglês, .facilidade, .proatividade {
  font-weight: 530;
    }
    
    p {
  font-style:inherit;
      }

#foto {
  float:left;
  height: 255px;
  padding: 4px;
  background-color: black;
}

#image-container{
height: 300px;
}

.eu {
  position:relative;
  top: 10px;
  left: 10px;
  text-align: justify;
}

#sobremim, #habilidade, #redesociais, #blog{
  background-color: white;
  position: relative;
}

h2 {
  position: relative;
 
  bottom: 50px;
  margin: auto;
  width: 80%;
  text-align: center;
}